@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$main-color: #79ffce;

* {
  font-family: 'Montserrat', sans-serif;
}

html{
  position: relative;
}

body {
  background-color: $main-color;
}
